body{
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Courier New", Courier, monospace;
}

#waterline{
	position: absolute;
	top: 80px;

}

.fish{
	color: white;
	height: 200px;
	width:400px;
	position: absolute;
}

.plant{
	position: absolute;
	bottom: 0px;
	height: 80px;
	width:80px;
}
